:root {
  --color-yellow: #FFCC05;
  --color-black: #000000;
  --color-white: #ffffff;
}
:root {
  --font-dosis: "Dosis";
  --font-exo2: "Exo 2";
  --font-raleway: "Raleway";
}
#slider .carousel-caption{
  left: 10%;
  right: 9%;
  top: 16%;
}
#slider .carousel-control-next, .carousel-control-prev{
  width: 10%;
  opacity: 1;
}
#slider .slider-icon{ 
  color: var(--color-black);
  font-size: 18px;
  border: 1px solid var(--color-black);
  border-radius: 8px !important;
  padding: 7px 15px;
}
#slider .slide-small-heading{
  letter-spacing: 10px;
  font: 600 18px/30px var(--font-raleway);
}
#slider .slidesmalltext{
  font-size: 14px;
  letter-spacing: 1px;
  width: 80%;
  line-height: 25px;
}
#slider h1{
  position: relative;
  overflow: hidden;
  background: linear-gradient(
  80deg, #000, #000, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 4s linear infinite;
  -webkit-animation : animate 4s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgb(0 0 0 / 58%);
}
@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

#slider .slide-short-head{
  width: 60%;
}
.slider-video-text{
  font-weight: 400;
}
#slider .carousel-indicators{
  margin-bottom: 30%;
}
.carousel-indicators button{
  height: 12px !important;
  width: 12px !important;
  border-radius: 50px;
  border: none !important;
  background: #fff;
  opacity: 1 !important;
  margin: 0px 10px !important;
}
#slider .carousel-indicators .active{
  width: 50px !important;
}
#slider .slide-btn{
  font: 600 18px/26px var(--font-exo2);
  letter-spacing: 1.8px;
  color: var(--color-black);
  border-radius: 7px;
  border: 1px solid var(--color-black);
  background: transparent !important  ;
  width: 100%;
  height: 100%;
  max-width: 26%;
}
#slider .slider-left-image{
  width: 75%;
  height: auto;
  margin-top: -20px;
}
/*--------------Comman Css---------*/
#slider .slider-box,.feature-block-title{
  color: var(--color-black);
}
.section-title h3{
  font: bold 40px/60px var(--font-dosis);
  letter-spacing: 2.7px;
  color: var(--color-black);
}
.popular-stores-box a,#our-products .section-button a,
#new-arrival .section-button a{
  font: 600 13px/23px var(--font-raleway);
  letter-spacing: 0.58px;
  color: var(--color-white);
  background-color: var(--color-yellow);
  border-radius: 7px;
}
/*-------------Feature Settings------------------*/
.feature-block-title{
  font: bold 15px/16px var(--font-exo2);
}
.feature-block-text{
  font: 400 12px/20px var(--font-raleway);
  color: #484848;
}
.feature-block-inner i{
  color: var(--color-yellow);
  font-size: 45px;
}
.feature-block-inner {
  padding: 10px;
}
.feature-block-inner:hover{
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 14px #b7b7b742;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.9s;
  background-color: #f9f2d6;
}
.hvr-shutter-in-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #ffffff;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-radius: 6px;
}
.hvr-shutter-in-vertical:hover:before{
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
#feature-block .owl-stage-outer{
  padding: 10px 0;
}
/*------------ Product Brands ------------*/
.popular-stores-img img{
  border: 1px solid #8D8A8A;
}
/*-------------- All Category --------------- */
#main-category .category-content img{
  width: 70%;
  height: auto;
  transition: 0.5s all ease-in-out;
  transform: scale(1);
}
#main-category .owl-item:hover img{
  transform: scale(1.15);
}
#main-category .category-content a{
  font: normal 20px/31px var(--font-raleway);
  letter-spacing: 0px;
  color:var(--color-black);
}
.cat-image-bg:after{
  content: '';
  height: 110px;
  width: 110px;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  margin: 15px auto 0;
  left: 0;
  right: 0;
}
#main-category .owl-item:nth-child(1) .cat-image-bg:after,
#main-category .owl-item:nth-child(6) .cat-image-bg:after{
  background-color: #BCD5F5;
}
#main-category .owl-item:nth-child(2) .cat-image-bg:after,
#main-category .owl-item:nth-child(7) .cat-image-bg:after{
  background-color: #D0FBF9;
}
#main-category .owl-item:nth-child(3) .cat-image-bg:after,
  #main-category .owl-item:nth-child(8) .cat-image-bg:after{
  background-color: #FBD3D8;
}
#main-category .owl-item:nth-child(4) .cat-image-bg:after,
#main-category .owl-item:nth-child(9) .cat-image-bg:after{
  background-color: #F59DA1;
}
#main-category .owl-item:nth-child(5) .cat-image-bg:after,
#main-category .owl-item:nth-child(10) .cat-image-bg:after{
  background-color: #C7F5CE;
}
/*----------------Product Banner---------------*/
.popular-stores-box h4{
  font: bold 24px/36px var(--font-exo2);
  letter-spacing: 1.35px;
  color: var(--color-black);
}
.popular-stores-box p{
  font: normal 18px/30px var(--font-raleway);
  letter-spacing: 1.08px;
  color: var(--color-black);
}
#product-banner1 .popular-stores-box1 img{
  width: 70%;
  text-align: end;
  margin: 0 0 0 auto;
  display: block;
}
#product-banner1 .popular-stores-box2 img{
  width: 113%;
  text-align: end;
  margin: 0 0 0 auto;
  display: block;
}
#product-banner1 .popular-stores-box:hover a{
  background-color: var(--color-black);
  transition-duration: 1s;
}
/*----------------Product Banner---------------*/
#product-banner2 .popular-stores-box {
  background-size: cover;
}
#product-banner2 .popular-stores-box h4{
  font: bold 17px/20px var(--font-exo2);
  letter-spacing: 1.08px;
  color: #000000;
}
#product-banner2 .popular-stores-box p{
  font: 400 14px/30px var(--font-raleway);
  letter-spacing: 1.08px;
  color: var(--color-black);
}
#product-banner2 .popular-stores-box1 img{
  text-align: end;
  margin: 0 0 0 auto;
  display: block;
}
#product-banner2 .popular-stores-box2 img,#product-banner2 .popular-stores-box3 img{
  text-align: end;
  margin: 0 0 0 auto;
  display: block;
  width: 90%;
}
#product-banner2 .popular-stores-box3 img{
  width: 80%;
}
#product-banner2 .popular-stores-box:hover img{
  transform: scale(1.3);
  transition-duration: 1s;
}
#product-banner2 .popular-stores-box:hover a{
  background-color: var(--color-black);
  transition-duration: 1s;
}
/*----------- Our Products -----------*/
#our-products .owl-carousel .owl-item img,
#new-arrival .owl-carousel .owl-item img{
  height: auto;
}
#our-products .our-product-img,#new-arrival  .our-product-img{
  background-color: var(--color-white);
}
#our-products .inner_product:hover .our-product-img,
#new-arrival .inner_product:hover .our-product-img{
  background-color: #80808030;
}
#our-products .inner_product:hover,
#new-arrival .inner_product:hover{
  box-shadow: 1px 1px 10px #dcdcdc;
}
#our-products .owl-stage-outer,
#new-arrival .owl-stage-outer{
  padding-top: 20px;
  padding-bottom: 20px;
}
.yith-wcwl-add-to-wishlist{
  margin-top: 0;
}
.yith-wcwl-add-button>a i{
  margin-right: 0;
}
.bwt-wishlist-cart-view ul{
  position: absolute;
  left: 0;
  right: 0;
  justify-content: center;
  bottom: 0;
  opacity: 0;
}
.bwt-wishlist-cart-view i{
  padding: 10px;
  background: var(--color-yellow);
  color: var(--color-black);
}
.bwt-wishlist-cart-view li{
  margin-right: 10px;
}
#our-products .inner_product:hover .bwt-wishlist-cart-view ul,
#new-arrival .inner_product:hover .bwt-wishlist-cart-view ul{
  opacity: 1;
  transition-duration: 1s;
}
#our-products .owl-nav,#new-arrival .owl-nav{
  display: none;
}
.inner_product .product-sale p{
  font: 500 14px/24px var(--font-raleway);
  letter-spacing: 0.72px;
  color: var(--color-white);
  background-color: #EC6557;
  border-radius: 50%;
  z-index: 1;
  position: absolute;
  text-align: center;
  height: 50px;
  width: 50px;
  padding: 13px 0;
  top: 12px;
  left: 12px;
}
#our-products .inner_product:hover .our-product-cart a,
#new-arrival .inner_product:hover .our-product-cart a{
  background-color: var(--color-yellow);
}
.our-product-cart a{
  font: 600 13px/23px var(--font-raleway);
  letter-spacing: 0.58px;
  color: #FFFFFF;
  background-color: black;
  padding: 10px;
  top: 10px;
  position: relative;
  border-radius: 6px;
  margin: 10px;
}
.product_head a{
  font: bold 19px/24px var(--font-exo2);
  letter-spacing: 1.08px;
  color: #000000;
}
.star-rating:before,.star-rating span{
  color: #F8A556;
}
.price del{
  font: 600 12px/23px var(--font-raleway);
  letter-spacing: 0.81px;
  color: #464444;
}
.price ins{
  font: 300 12px/23px var(--font-raleway);
  letter-spacing: 0.81px;
  color: #464444;
  text-decoration: none;
}
/*.yith-wcwl-wishlistexistsbrowse i{
  display: none;
}
*/
/*-----------Quick open product-------------*/
#yith-quick-view-content .onsale{
  font: 500 14px/23px var(--font-raleway);
  letter-spacing: 0.72px;
  color: var(--color-white);
  background-color: var(--color-yellow);
  border-radius: 50%;
  padding: 14px 6px;
  width: 50px;
  height: 50px;
  z-index: 1;
  position: relative;
}
.vwwishlist_text span{
  color: var(--color-black);
}
.vwwishlist_text span,.vwwishlist_text a{
  font: 600 14px/23px var(--font-raleway);
}
#yith-quick-view-content .onsale{
  position: absolute;
}
.woocommerce div.product .product_title{
  text-align: left !important;
  font: bold 19px/24px var(--font-exo2);
  color: var(--color-black);
}
.woocommerce .quantity .qty{
  padding: 5px;
}
.woocommerce div.product form.cart .button{
  font: 600 13px/15px var(--font-raleway);
  letter-spacing: 0.58px;
  color: #FFFFFF;
  background-color: black;
}
.product_meta{
  display: grid;
}
.product_meta .posted_in,.product_meta .tagged_as{
  font: 600 13px/15px var(--font-raleway);
  color: var(--color-black);
  padding: 6px 0;
}
.product_meta span a{
  color: var(--color-yellow);
}
#yith-quick-view-close{
  font-weight: 800;
  color: #000;
  border: none;
  padding: 10px 20px;
}
#yith-quick-view-close:hover{
  color: var(--color-yellow);
}
#yith-quick-view-content div.summary{
  padding-top: 25px;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger{
  margin-top: 0.2em;
  background-color: gainsboro;
}
/*------------------Product Category Slider------------*/
#product-category .hot-deals-content img{
  height: auto;
  object-fit: contain;
}
.product-cat-title h4{
  font: bold 20px/30px var(--font-dosis);
  letter-spacing: 1.43px;
  color: var(--color-black);
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 15px;
  margin-right: 6%;
}
.product-cat-title h4:before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--color-yellow);
  width: 33%;
  height: 3px;
  bottom: -1px;
}
#product-category .star-rating{
  margin: 0;
  font-size: 0.8em;
}
#product-category h5 a{
  font: 500 12px/12px var(--font-exo2);
  letter-spacing: 0.68px;
  color: var(--color-black);
}
#product-category ins,#product-category bdi{
  font: 400 10px/20px var(--font-raleway);
  letter-spacing: 0.72px;
  color: #515151;
}
.slick-slider .fa-chevron-right.slick-arrow{
  top: -11%;
  position: absolute;
  right: 10%;
  color: var(--color-yellow);
  cursor: pointer;
  font-size: 10px;
}
.slick-slider .fa-chevron-left.slick-arrow{
  top: -11%;
  position: absolute;
  right: 16%;
  color: var(--color-black);
  cursor: pointer;
  font-size: 10px;
}
/*---------------------Deals-----------------------*/
#deals img{
  height: auto;
}
#deals h5 a{
  font: bold 20px/32px var(--font-exo2);
  letter-spacing: 1.21px;
  color: var(--color-black);
}
#deals .owl-item p{
  font: 300 12px/24px var(--font-raleway);
  letter-spacing: 0.55px;
  color: #000000;
}
#deals .star-rating{
  margin: 0;
}
#deals .price{
  font: normal normal normal 13px/22px Raleway;
  letter-spacing: 0.81px;
  color: #464444;
}
#deals #timer{
  width: 60%;
  background-color: var(--color-yellow);
  border-radius: 6px;
}
#deals .countdowntimer .numbers{
  display: inline-block;
  width: 45px;
  height: 50px;
  font:bold 14px var(--font-raleway);
  letter-spacing: 1px;
  color: var(--color-white);
  text-align: center;
  padding: 10px 2px;
}
#deals .countdowntimer .numbers span{
  font:500 11px/15px var(--font-raleway);
  letter-spacing: 0px;
  color: var(--color-white);
}
#deals .owl-nav{
  bottom: -6%;
}
#deals .owl-nav button{
  width: 5%;
}
#deals .owl-nav i{
  padding: 5px 14px;
  border-radius: 6px;
}
#deals .owl-nav .owl-prev i{
  border-color: #000;
  color: var(--color-black);
}
#deals .owl-nav .owl-next i{
  border-color: #ffcc05;
  color: #ffcc05;
}
#deals .deals-col{
  background-color: var(--color-white);
}
/*-------- Featured products -------------*/
#featured-blog h3{
  font-size: 24px;
}
#featured-product img{
  height: auto;
  background: #f9f9f9;
}
#featured-product .featured-product-content:hover img{
  background: #ededed;
}
#featured-product .featured-product-img{
  position: relative;
}
#featured-product .featured-product-content:hover ul{
  opacity: 1;
}
#featured-product h5 a{
  font: bold 15px/25px var(--font-exo2);
  letter-spacing: 0.88px;
  color: var(--color-black);
}
#featured-product .star-rating{
  margin: 0;
}
#featured-product del,#featured-product ins{
  font: 300 12px/23px var(--font-raleway);
  letter-spacing: 0.68px;
  color: #464444;
}
#featured-product del{
  font-weight: 600;
}
#featured-product .our-product-cart a{
  display: inline-block;
  padding: 5px 12px;
  margin: 0;
  margin-bottom: 7px;
}
#featured-product .featured-product-content:hover .our-product-cart a{
  background-color: var(--color-yellow);
}
#featured-product .bwt-wishlist-cart-view i{
  padding: 6px;
}
/*---------------- Blog ---------------------*/
#our-blog h4 a{
  font: bold 17px/25px var(--font-exo2);
  letter-spacing: 0.9px;
  color: var(--color-black);
}
#our-blog p{
  font: normal 300 12px/27px var(--font-raleway);
  letter-spacing: 0.42px;
  color: var(--color-black);
}
#our-blog .owl-nav i{
  border: none;
  font-size: 13px;
}
#our-blog .owl-nav button{
  width: 6%;
}
#our-blog .owl-nav{
  text-align: end;
  right: 4%;
  top: -14%;
}
#our-blog .owl-nav .disabled i{
  color: var(--color-black);
}
#our-blog .owl-nav button i{
  color: var(--color-yellow);
}