:root {
  --color-yellow: #FFCC05;
  --color-black: #000000;
}
:root {
  --font-dosis: "Dosis";
  --font-exo2: "Exo 2";
  --font-raleway: "Raleway";
}
@media screen and (max-width: 2560px){
	#popular-brand .owl-nav{
		display: none;
	}
	#slider .carousel-caption{
		top: 25%;
	}
	#slider .slide-small-heading{
		font-size: 30px;
	}
	#slider h1{
		font: 600 43px/90px var(--font-exo2);
	}
}
@media screen and (max-width: 1440px){
	#slider h1 {
	  font: 600 30px/45px var(--font-exo2);
	}
	#slider .slide-small-heading {
    letter-spacing: 10px;
    font: 600 17px/20px var(--font-raleway);
	}
	#slider .carousel-caption {
    top: 16%;
	}
	.additional-info-wrapper{
		display: flex;
	}
	.wishlist_table.mobile li .additional-info-wrapper .product-add-to-cart,
	.wishlist_table.mobile li .additional-info-wrapper .product-remove{
		margin-left: 20px;
	}
}
@media screen and (max-width: 1199px){
	#bwt-footer_box [type=submit]{
		width: auto;
	}
	.cart-customlocation {
    font: bold 14px/22px var(--font-exo2);
  }
	#slider .slide-btn{
		max-width: 57%;
	}
	#deals img{
		width: auto;
		margin: 0 auto;
	}
	#deals #timer{
		width: 33%;
	}
	#deals .owl-nav button{
		width: 8%;
	}
	#product-banner2 .popular-stores-box h4{
		font-size: 15px;
	}
	#product-banner2 .popular-stores-box p{
		font: 400 14px/20px var(--font-raleway);
	}
	.single-post-nav .nav-links{
		display: flex;
	}
	.our-product-cart{
		display: inline-grid;
	}
	.entry-title-watermark .entry-title{
		font-size: 80px !important;
	}
	.banner-image .entry-title{
		font-size: 24px;
	}
	.bradcrumbs a, .bradcrumbs span, .bradcrumbs{
		font: 300 18px/5px var(--font-exo2);
	}
	.topbar_translate .switcher .option{
		width: 10%;
	}
}
@media screen and (max-width: 1040px) {
  .toggle-nav {
		display: block;
		text-align: right;
	}
	.main-menu{
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.toggle-nav i {
		font-size: 29px;
		color: #000000 ;
	}
	.sidenav .close-sidebar {
		position: absolute;
		top: -27px;
		left: 5.5em;
		font-size: 36px;
		display: block;
		color: #ffffff;
		cursor: pointer;
	}
	.toggle-nav i{
		margin-top: 5px;
		padding-left: 10px;
	}
	.sticky.stickynavbar .toggle-nav i{
		padding-left: 45px;
	}
	.header-box{
		padding: 14px 0;
	}
	.main-navigation ul li>ul {
		display: none;
		position: relative;
		top: 0;
		left: 0;
	}
	#sidebar1 .main-navigation ul .menu-item-has-children> a:before{
		color: #888;
    position: relative;
    right: 23%;
    top: 33%;
    font-weight: 600;
    font-size: 0.7rem;
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    left: auto;
    animation: none;
    border-bottom: none;
    -webkit-transform-origin: unset !important;
    transform-origin: unset !important;
    -webkit-transform: unset !important;
    transform: unset;
    !important: ;
    -webkit-transition: unset !important;
    transition: unset !important;
    transition-duration: 0s !important;
    float: right;
	}
	#sidebar1 .main-navigation ul .menu-item-has-children:hover :after{
		animation: none;
	}
	.main-navigation ul li a,a:not([href]):not([class]), a:not([href]):not([class]):hover{
		color: #fff;
	}
	.main-navigation ul li:hover > ul{
		display: none;
	}
	.main-navigation ul li ul li ul {
		position: unset;
	}
	.headerbar {
		display: block !important;
		margin: 0;
	}
	#sidebar1 .main-navigation li ul li:after{
    top: 16px;
    left: 5px;
	}
	.main-navigation ul li.current_page_item:after,.main-navigation ul li a:hover:after {
		display: none;
	}
	.main-header .main-navigation,#slider .icon_img img {
		display: none
	}
	.main-navigation li {
		padding: 12px 0 12px 14px;
		width: 250px;
		border-bottom: 1px solid #333;
		margin-left: 23px;
	}
	#sidebar1 .main-navigation ul li:before,.menu-item-has-children li a:before{
		color: #fff;
	}
	#sidebar1 .current-menu-item.current_page_item:before{
		color: var(--color-yellow);
	}
	.menu-item-has-children li:hover a:before{
		left: -7px;
	}
	.main-navigation{
		margin-top: 15% !important;
	}
	.main-navigation ul li a {
		padding: 0px 0px 0px 10px;
		font-weight: 400;
		background: 0 0!important;
		text-align: left;
		margin: 0;
		font-size: 12px;
	}
	.main-navigation ul li ul a{
	    font-size: 13px;
	    font-weight: 600;
	}
	.main-navigation ul li.menu-item-has-children:after{
		content: none;
	}
	.main-navigation .current_page_item a:before, .main-navigation .current-menu-item a:before{
		left: 22px !important;
	}
	#sidebar1 .main-navigation ul ul li:hover a{
		transform: unset;
		left: 0;
	}
	#sidebar1 {
		height: 100%;
		width: 0;
		position: fixed !important;
		z-index: 9999999;
		top: 0;
		left: 0;
		background-color: #fff;
		overflow-x: hidden;
		transition: all 4s ease;
		padding-top: 45px !important;
		box-shadow: 4px 2px 12px 1px #ccc;
    background: #222;
    -webkit-box-shadow: 1px 0 5px rgb(0 0 0 / 50%);
    box-shadow: 1px 0 5px rgb(0 0 0 / 50%);
    transition-duration: 1s;
    animation: slideInLeftMenu 1s;
	}
	@keyframes slideInLeftMenu {
	  0% {
	    opacity: 0;
	    -webkit-transform: translateX(-296px);
	    -ms-transform: translateX(-296px);
	    transform: translateX(-296px);
	  }

	  100% {
	    -webkit-transform: translateX(0px);
	    -ms-transform: translateX(0px);
	    transform: translateX(0px);
	  }
	}
	#close_nav i{
		color: #000;
	}
	.main-navigation ul ul,.main-navigation ul ul li {
		background: transparent !important;
	}
	.main-navigation ul ul li {
		display: block;
		padding-left: 1px;
		border-bottom: none;
	}
	.main-navigation ul ul ul li {
		padding-left: 15px;
	}
	.main-navigation ul ul{
		border: none !important;
	}
	.main-navigation a, a:not([href]):not([class]), a:not([href]):not([class]):hover{
    text-align: left;
    left: 15px;
    padding: 0px 0px 0px 10px;
    font-size: 12px;
    font-weight: 400;
	}
	.mobile-menu-close{
		padding: 0 !important;
	}
	#slider .carousel-caption{
		top: 7%;
	}
	.close-icon {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    -webkit-transform: rotateZ(
		45deg);
		    transform: rotateZ(
		45deg);
	}
	.close-icon:after, .close-icon:before {
    display: block;
    position: absolute;
    background-color: var(--wolmart-light-color,#ccc);
    content: "";
	}
	.close-icon:before {
    height: 2px;
    width: 100%;
    left: 0;
    top: calc(50% - 1px);
	}
	.close-icon:after {
    height: 100%;
    width: 2px;
    top: 0;
    left: calc(50% - 1px);
	}
	.sticky .main-navigation ul{
		text-align: left;
	}
	#featured-product .bwt-wishlist-cart-view i{
		padding: 6px;
	}
	.inner_product .product-sale p{
		left: 0;
	}
}
@media screen and (max-width: 991px){
	.feature-block-inner i{
		font-size: 32px;
	}
	#deals #timer{
		width: 45%;
	}
	.slidesmalltext{
		display: block;
	}
	.popular-stores-box{
		background-size: cover;
	}
	#product-banner1 .popular-stores-box1 img{
    width: 50%;
    margin: 0 auto;
	}
	#product-banner1 .popular-stores-box2 img{
		margin: 0 auto;
    display: block;
    width: 80%;
	}
	.widget_product_search input{
		width: 70%;
	}
	.logo img{
		width: 90px !important;
		height: 45px !important;
	}
	h1{
		font: 600 26px/36px var(--font-exo2);
	}
	#slider .slider-left-image{
		margin-top: 0;
	}
	.slidemainbox-col1{
		align-self: center;
	}
	.single-post-nav .nav-links div{
		padding-right: 15px;
	}
	.topbar_translate .switcher .option{
		width: 13%;
	}
	.woocommerce-page table.cart td.actions .button,
	.woocommerce-page table.cart td.actions .coupon .button{
		width: 30%;
	}
	#slider .carousel-caption {
    top: 1%;
	}
	#deals .owl-nav button{
		width: 10%;
	}
}

@media screen and (max-width: 767px) {
	.topbar-regiter a, .order-track, .my-account a span, .topbar-location, .topbar-regiter, .topbar-wishlist a{
		font: 400 13px/33px var(--font-raleway);
	}
	.middle-header-off-col{
		display: block;
	}
	.slidesmalltext{
		display: block;
	}
	#deals .owl-nav button{
		width: 17%;
	}
	#deals #timer,#deals .star-rating{
		margin: 0 auto;
	}
	#product-banner2 .popular-stores-box3 img{
		width: 50%;
	}
	#product-banner2 .popular-stores-box1 img,
	#product-banner2 .popular-stores-box2 img{
		width: 70%;
	}
	.comments-title:after{
		content: none;
	}
	.topbar_translate .switcher .option {
    width: 17%;
	}
	.entry-title-watermark .entry-title{
		display: none;
	}
}
@media screen and (max-width: 575px) {
	.feature-block-inner i{
		margin-bottom: 20px;
	}
	.slide-small-heading{
		display: none;
	}
	.slidesmalltext{
		display: block;
	}
	.widget_media_image img,#featured-product .star-rating{
		display: block;
		margin: 0 auto;
	}
	.about_me .location,.about_me .email,.about_me .phone,.about_me .time{
		text-align: center;
    margin: 0 auto;
    display: block !important;
	}
	.copyright-text p{
		text-align: center !important;
	}
	.popular-stores-box h4{
		font: bold 22px/25px var(--font-exo2);
	}
	.popular-stores-box p{
		font: normal 16px/25px var(--font-raleway);
	}
	.logo img{
    margin: 0 auto 20px;
    display: block;
    width: auto !important;
    height: auto !important;
	}
	#product-banner1 .popular-stores-box img{
		width: 100%;
	}
	.shipping-box:hover form.track_order{
		width: 280px;
	}
	#product-banner2 .popular-stores-box1 img,
	#product-banner2 .popular-stores-box2 img,
	#product-banner2 .popular-stores-box3 img{
		width: 100%;
	}
	#slider .slide-btn{
		max-width: 70%;
	}
	h1{
		font-size: 16px;
	}
	#featured-product img{
		width: auto;
    margin: 0 auto;
    display: block;
	}
	#our-blog .owl-nav{
		display: none;
	}
	.single-post-nav .nav-links{
		display: inline-block;
	}
	.contact-form input[type=submit]{
		margin: 0 auto;
		display: block;
	}
	.topbar_translate .switcher .option {
    width: 28%;
	}
}
@media screen and (max-width: 425px) {
	#slider .carousel-control-next, .carousel-control-prev{
		display: none;
	}
	#slider .slide-small-heading {
    letter-spacing: 8px;
    font: 600 14px/24px var(--font-raleway);
	}
	#slider .slide-btn{
		font: 600 12px/20px var(--font-exo2);
	}
	#slider .carousel-caption{
		top: 12%;
	}
	#deals #timer{
		width: 65%;
	}
	#deals .owl-nav button{
		width: 24%;
	}
	.woocommerce ul.products[class*=columns-] li.product, .woocommerce-page ul.products[class*=columns-] li.product{
		width: 100%;
	}
	.woocommerce-result-count,.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering{
		float: none !important;
		text-align: center;
	}
	#our-products{
		padding-top: 0px;
	}
	#feature-block{
		padding-bottom: 0px;
	}
	#main-category .owl-stage{
    padding-bottom: 20px;
	}
	.cat-image-bg:after{
    height: 70%;
    width: 60%;
  }
  #slider h1{
  	font-size: 18px;
  	line-height: 30px;
  }
}
